In [ ]:
# GDP and personal remittances dataset merged
import pandas as pd

# Load the actual remittance dataset
remittance_file_path = '/mnt/data/API_BX.TRF.PWKR.CD.DT_DS2_en_csv_v2_39657.csv'
remittance_df = pd.read_csv(remittance_file_path, skiprows=4)

# Clean the remittance dataset by removing unnecessary columns
remittance_df_cleaned = remittance_df.drop(columns=['Indicator Name', 'Indicator Code', 'Unnamed: 68'])

# Reshape the remittance data to long format for merging
remittance_df_long = remittance_df_cleaned.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Remittance")
remittance_df_long['Year'] = remittance_df_long['Year'].astype(int)

# Load the GDP dataset
gdp_file_path = '/mnt/data/Olanrewaju AMUDIPE_API_NY.GDP.MKTP.CD_DS2_CLEANED.csv'
gdp_df = pd.read_csv(gdp_file_path)

# Reshape the GDP dataset to long format for merging
gdp_df_long = gdp_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="GDP")
gdp_df_long['Year'] = gdp_df_long['Year'].astype(int)

# Merge the two datasets on Country Name, Country Code, and Year
merged_df = pd.merge(gdp_df_long, remittance_df_long, on=["Country Name", "Country Code", "Year"], how="left")

# Reshape the merged dataset back to wide format
merged_df_wide = merged_df.pivot_table(index=["Country Name", "Country Code"], columns="Year", values=["GDP", "Remittance"]).reset_index()
merged_df_wide.columns = [f'{j}_{i}' if j else i for i, j in merged_df_wide.columns]

# Save the merged dataset
merged_file_path = '/mnt/data/Merged_GDP_Remittance_Data_Actual.csv'
merged_df_wide.to_csv(merged_file_path, index=False)

In [ ]:
# Immigration, inflow and outflow remittances dataset merged

import pandas as pd

# Load the datasets
immigration_data = pd.read_csv('/mnt/data/imigration_oced_clean.csv')
remittance_inflows_data = pd.read_csv('/mnt/data/Remittance_inflows.csv')
remittance_outflows_data = pd.read_csv('/mnt/data/remittance_outflows_clean - remittance_outflows_clean.csv')

# Renaming columns for consistency
immigration_data.rename(columns={
    'Country of birth/nationality': 'Country',
    'Country of Destination': 'Destination'
}, inplace=True)

remittance_inflows_data.rename(columns={
    'Migrant remittance inflows (US$ million)': 'Country'
}, inplace=True)

remittance_outflows_data.rename(columns={
    'Remittance outflows (US$ million)': 'Country'
}, inplace=True)

# Adding prefix to columns to distinguish inflows and outflows
remittance_inflows_data = remittance_inflows_data.add_prefix('Inflows_')
remittance_outflows_data = remittance_outflows_data.add_prefix('Outflows_')

# Removing the prefix from 'Country' column to keep it consistent
remittance_inflows_data.rename(columns={'Inflows_Country': 'Country'}, inplace=True)
remittance_outflows_data.rename(columns={'Outflows_Country': 'Country'}, inplace=True)

# Merging datasets on 'Country' column
merged_data = immigration_data.merge(remittance_inflows_data, on='Country', how='outer')
merged_data = merged_data.merge(remittance_outflows_data, on='Country', how='outer')

# Saving the merged dataset to a CSV file
merged_data.to_csv('/mnt/data/merged_dataset.csv', index=False)

# Display the merged dataset
import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Dataset", dataframe=merged_data)

# Optional: Display the first few rows of the merged dataset
merged_data.head()

In [44]:
import pandas as pd
data = pd.read_csv("immigration inflow and ouflow remittances.csv")
data

,Unnamed: 0,Country,Destination,2000,2001,2002,2003,2004,2005,2006,...,Outflows_2014,Outflows_2015,Outflows_2016,Outflows_2017,Outflows_2018,Outflows_2019,Outflows_2020,Outflows_2021,Outflows_2022,Outflows_% of GDP in 2022
0,0,Afghanistan,Australia,887.0,456.0,660.0,1015.0,1340.0,3463.0,3465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Afghanistan,Austria,828.0,1539.0,1101.0,743.0,650.0,652.0,498.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,Belgium,NaN,NaN,NaN,126.0,143.0,289.0,324.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Afghanistan,Canada,2845.0,3182.0,2971.0,3479.0,2978.0,3436.0,3009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Afghanistan,Chile,2.0,2.0,1.0,2.0,1.0,6.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,7244,Luxembourg*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12917.475761,11232.764646,11679.077114,12693.980483,14044.624458,14103.454421,14272.287294,16558.233488,16232.023988,19.866379
7245,7245,Netherlands*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8282.700725,10222.554138,10507.383740,11319.607523,12956.820006,14137.568176,14311.627156,15767.971806,15386.378052,1.523113
7246,7246,Switzerland*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26816.169395,26031.033077,26050.156143,26961.758610,27741.467906,28436.482090,29617.313435,32198.341176,33550.462142,4.099163
7247,7247,"Türkiye, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,815.000000,850.000000,1108.000000,631.000000,627.000000,678.000000,521.000000,631.000000,731.000000,0.080698
7248,7248,United Arab Emirates*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28275.385450,39700.092250,39154.726000,41254.294250,45251.076000,52879.509871,42069.434990,40245.064670,39673.247107,7.824110

In [45]:
data.drop(["Unnamed: 0", "Inflows_Unnamed: 0"], axis=1, inplace=True)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7249 entries, 0 to 7248
Data columns (total 97 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    7249 non-null   object
 1   Destination                7190 non-null   object
 2   2000                       4681 non-null   float64
 3   2001                       5020 non-null   float64
 4   2002                       4953 non-null   float64
 5   2003                       5412 non-null   float64
 6   2004                       5545 non-null   float64
 7   2005                       5904 non-null   float64
 8   2006                       6297 non-null   float64
 9   2007                       6500 non-null   float64
 10  2008                       6794 non-null   float64
 11  2009                       6692 non-null   float64
 12  2010                       6722 non-null   float64
 13  2011                       6674 non-null   float64
 14  2012                       6924 non-null   float64
 15  2013                       6965 non-null   float64
 16  2014                       6928 non-null   float64
 17  2015                       6953 non-null   float64
 18  2016                       6829 non-null   float64
 19  2017                       7098 non-null   float64
 20  2018                       7093 non-null   float64
 21  2019                       7065 non-null   float64
 22  2020                       7052 non-null   float64
 23  2021                       6566 non-null   float64
 24  2022                       4966 non-null   float64
 25  Inflows_1970               5909 non-null   float64
 26  Inflows_1971               5909 non-null   float64
 27  Inflows_1972               5909 non-null   float64
 28  Inflows_1973               5909 non-null   float64
 29  Inflows_1974               5909 non-null   float64
 30  Inflows_1975               5909 non-null   float64
 31  Inflows_1976               5909 non-null   float64
 32  Inflows_1977               5909 non-null   float64
 33  Inflows_1978               5909 non-null   float64
 34  Inflows_1979               5909 non-null   float64
 35  Inflows_1980               5909 non-null   float64
 36  Inflows_1981               5909 non-null   float64
 37  Inflows_1982               5909 non-null   float64
 38  Inflows_1983               5909 non-null   float64
 39  Inflows_1984               5909 non-null   float64
 40  Inflows_1985               5909 non-null   float64
 41  Inflows_1986               5909 non-null   float64
 42  Inflows_1987               5909 non-null   float64
 43  Inflows_1988               5909 non-null   float64
 44  Inflows_1989               5909 non-null   float64
 45  Inflows_1990               5909 non-null   float64
 46  Inflows_1991               5909 non-null   float64
 47  Inflows_1992               5909 non-null   float64
 48  Inflows_1993               5909 non-null   float64
 49  Inflows_1994               5909 non-null   float64
 50  Inflows_1995               5909 non-null   float64
 51  Inflows_1996               5909 non-null   float64
 52  Inflows_1997               5909 non-null   float64
 53  Inflows_1998               5909 non-null   float64
 54  Inflows_1999               5909 non-null   float64
 55  Inflows_2000               5909 non-null   float64
 56  Inflows_2001               5909 non-null   float64
 57  Inflows_2002               5909 non-null   float64
 58  Inflows_2003               5909 non-null   float64
 59  Inflows_2004               5909 non-null   float64
 60  Inflows_2005               5909 non-null   float64
 61  Inflows_2006               5909 non-null   float64
 62  Inflows_2007               5909 non-null   float64
 63  Inflows_2008               5909 non-null   float64
 64  Inflows_2009               5909 non-null   float64
 65  Inflows_2010               5909 non-null   float64
 66  Inflows_2011               5909 non-null   float64
 67  Inflows_2012               5909 non-null   float64
 68  Inflows_2013               5909 non-null   float64
 69  Inflows_2014               5909 non-null   float64
 70  Inflows_2015               5909 non-null   float64
 71  Inflows_2016               5909 non-null   float64
 72  Inflows_2017               5909 non-null   float64
 73  Outflows_2000              4653 non-null   float64
 74  Outflows_2001              4653 non-null   float64
 75  Outflows_2002              4653 non-null   float64
 76  Outflows_2003              4653 non-null   float64
 77  Outflows_2004              4653 non-null   float64
 78  Outflows_2005              4653 non-null   float64
 79  Outflows_2006              4653 non-null   float64
 80  Outflows_2007              4653 non-null   float64
 81  Outflows_2008              4653 non-null   float64
 82  Outflows_2009              4653 non-null   float64
 83  Outflows_2010              4653 non-null   float64
 84  Outflows_2011              4653 non-null   float64
 85  Outflows_2012              4653 non-null   float64
 86  Outflows_2013              4653 non-null   float64
 87  Outflows_2014              4653 non-null   float64
 88  Outflows_2015              4653 non-null   float64
 89  Outflows_2016              4653 non-null   float64
 90  Outflows_2017              4653 non-null   float64
 91  Outflows_2018              4653 non-null   float64
 92  Outflows_2019              4653 non-null   float64
 93  Outflows_2020              4653 non-null   float64
 94  Outflows_2021              4653 non-null   float64
 95  Outflows_2022              4653 non-null   float64
 96  Outflows_% of GDP in 2022  4653 non-null   float64
dtypes: float64(95), object(2)
memory usage: 5.4+ MB

In [47]:
data.isnull().sum()

Country                         0
Destination                    59
2000                         2568
2001                         2229
2002                         2296
                             ...
Outflows_2019                2596
Outflows_2020                2596
Outflows_2021                2596
Outflows_2022                2596
Outflows_% of GDP in 2022    2596
Length: 97, dtype: int64

In [48]:
data["Destination"].nunique()

35

In [49]:
data["Country"].nunique()

269

In [50]:
data["Destination"].isnull().sum()

59

In [51]:
data["Destination"].fillna("Not Specified", inplace = True)

In [52]:
data["Destination"].isnull().sum()

0

In [53]:
data.fillna(0, inplace = True)

In [54]:
data

,Country,Destination,2000,2001,2002,2003,2004,2005,2006,2007,...,Outflows_2014,Outflows_2015,Outflows_2016,Outflows_2017,Outflows_2018,Outflows_2019,Outflows_2020,Outflows_2021,Outflows_2022,Outflows_% of GDP in 2022
0,Afghanistan,Australia,887.0,456.0,660.0,1015.0,1340.0,3463.0,3465.0,2560.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,Austria,828.0,1539.0,1101.0,743.0,650.0,652.0,498.0,530.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Afghanistan,Belgium,0.0,0.0,0.0,126.0,143.0,289.0,324.0,310.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Afghanistan,Canada,2845.0,3182.0,2971.0,3479.0,2978.0,3436.0,3009.0,2652.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Afghanistan,Chile,2.0,2.0,1.0,2.0,1.0,6.0,2.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,Luxembourg*,Not Specified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12917.475761,11232.764646,11679.077114,12693.980483,14044.624458,14103.454421,14272.287294,16558.233488,16232.023988,19.866379
7245,Netherlands*,Not Specified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8282.700725,10222.554138,10507.383740,11319.607523,12956.820006,14137.568176,14311.627156,15767.971806,15386.378052,1.523113
7246,Switzerland*,Not Specified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26816.169395,26031.033077,26050.156143,26961.758610,27741.467906,28436.482090,29617.313435,32198.341176,33550.462142,4.099163
7247,"Türkiye, Rep. of",Not Specified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,815.000000,850.000000,1108.000000,631.000000,627.000000,678.000000,521.000000,631.000000,731.000000,0.080698
7248,United Arab Emirates*,Not Specified,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28275.385450,39700.092250,39154.726000,41254.294250,45251.076000,52879.509871,42069.434990,40245.064670,39673.247107,7.824110

In [14]:
# # save to a csv file
# data.to_csv("Immigration, inflow-outflow Remittances", index = False)

In [57]:
# second dataset
data1 = pd.read_csv("Merged_GDP_and_Remittance_Data (1).csv")
data1

,Country Name,Country Code,1960_GDP,1961_GDP,1962_GDP,1963_GDP,1964_GDP,1965_GDP,1966_GDP,1967_GDP,...,2014_Remittance,2015_Remittance,2016_Remittance,2017_Remittance,2018_Remittance,2019_Remittance,2020_Remittance,2021_Remittance,2022_Remittance,2023_Remittance
0,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,2.533678e+08,3.486247e+08,6.277108e+08,8.227316e+08,8.035465e+08,8.285719e+08,7.889171e+08,3.200000e+08,3.700000e+08,3.000000e+08
1,Africa Eastern and Southern,AFE,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.062178e+10,1.096848e+10,1.018049e+10,1.067490e+10,1.495713e+10,1.501209e+10,1.385167e+10,1.725230e+10,1.835917e+10,NaN
2,Africa Western and Central,AFW,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,1.584558e+10,1.442849e+10,...,2.907258e+10,3.121737e+10,2.838990e+10,3.160172e+10,3.456412e+10,3.497810e+10,2.922822e+10,3.271158e+10,3.520587e+10,NaN
3,Albania,ALB,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.421007e+09,1.290864e+09,1.306009e+09,1.311822e+09,1.458210e+09,1.472812e+09,1.465987e+09,1.718356e+09,1.745245e+09,1.970000e+09
4,Algeria,DZA,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,...,2.452443e+09,1.997393e+09,1.989024e+09,1.791887e+09,1.984998e+09,1.785839e+09,1.699609e+09,1.792159e+09,1.658976e+09,1.770000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.804542e+09,1.817412e+09,2.086576e+09,2.378923e+09,2.833913e+09,3.152860e+09,2.559661e+09,3.760462e+09,4.049079e+09,3.800000e+09
262,World,WLD,1.381136e+12,1.446356e+12,1.546369e+12,1.670666e+12,1.832616e+12,1.994519e+12,2.161645e+12,2.308597e+12,...,5.595633e+11,5.505464e+11,5.413021e+11,5.883821e+11,6.344987e+11,6.593325e+11,6.574456e+11,7.398889e+11,7.908754e+11,NaN
263,"Yemen, Rep.",YEM,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.350500e+09,3.350500e+09,3.770584e+09,3.770584e+09,3.770584e+09,3.770584e+09,3.770584e+09,3.770584e+09,3.770584e+09,3.770584e+09
264,Zambia,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,5.830030e+07,4.704654e+07,3.846444e+07,9.364410e+07,1.069656e+08,9.825912e+07,1.348648e+08,2.397094e+08,2.434860e+08,2.500000e+08
265,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.903971e+09,2.046580e+09,1.856035e+09,1.729884e+09,1.427703e+09,1.417012e+09,1.832039e+09,2.573627e+09,3.085043e+09,3.115894e+09

In [58]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 120 entries, Country Name to 2023_Remittance
dtypes: float64(118), object(2)
memory usage: 249.5+ KB

In [59]:
data1.columns

Index(['Country Name', 'Country Code', '1960_GDP', '1961_GDP', '1962_GDP',
       '1963_GDP', '1964_GDP', '1965_GDP', '1966_GDP', '1967_GDP',
       ...
       '2014_Remittance', '2015_Remittance', '2016_Remittance',
       '2017_Remittance', '2018_Remittance', '2019_Remittance',
       '2020_Remittance', '2021_Remittance', '2022_Remittance',
       '2023_Remittance'],
      dtype='object', length=120)

In [60]:
data1.shape

(266, 120)

In [61]:
data1.isnull().sum()

Country Name        0
Country Code        0
1960_GDP            0
1961_GDP            0
1962_GDP            0
                   ..
2019_Remittance    24
2020_Remittance    24
2021_Remittance    24
2022_Remittance    24
2023_Remittance    72
Length: 120, dtype: int64

In [62]:
data1.fillna(0, inplace = True)

In [25]:
# # save to csv
# data1.to_csv( "GDP and remittances", index = False)

In [63]:
import pandas as pd
df2 = pd.read_excel("Olanrewaju AMUDIPE_bilateral_remittance_matrix_2021_CLEANED.xlsx")

In [64]:
df2.head(20)

,Sending Country,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,Virgin Islands (U.S.),West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe,WORLD
0,Afghanistan,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,384.876955
1,Albania,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,51.682369
2,Algeria,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,25.829160,0,0.000000,0.000000,79.096411
3,American Samoa,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.878566,0,0.000000,0,0.000000,0.000000,38.224096
4,Andorra,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.589710,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,230.668739
5,Angola,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.265413,0.000000,98.067766
6,Antigua and Barbuda,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,47.267123
7,Argentina,0.000469,0.077293,0.080184,0,0,0.000175,0.000000,0.000000,1.019447,...,0.0,0.133664,0,0.023106,0,0.000000,0,0.001168,0.003246,3147.931614
8,Armenia,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,136.889601
9,Aruba,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,99.439855
10,Australia,4.982235,5.141769,1.547009,0,0,0.013769,0.045042,18.860649,3.200752,...,0.0,91.663710,0,1443.565667,0,3.309230,0,12.401076,105.037032,22684.664996
11,Austria,3.348376,6.922719,1.461489,0,0,0.011147,0.005294,1.919184,6.877368,...,0.0,0.162843,0,19.568370,0,0.670379,0,0.231583,0.905789,5859.570610
12,Azerbaijan,0.007962,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,177.184856
13,"Bahamas, The",0.000000,0.000000,0.000000,0,0,0.000000,0.009130,0.097664,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.025601,145.771084
14,Bahrain,0.056512,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,6.333127,0,0.000000,0.000000,4191.596593
15,Bangladesh,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,112.899906,0,0.000000,0,0.000000,0.000000,2190.982051
16,Barbados,0.000000,0.000000,0.000000,0,0,0.000000,0.128611,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,23.549503
17,Belarus,0.013884,0.000000,0.039178,0,0,0.000000,0.000000,0.079539,10.059281,...,0.0,0.000000,0,1.636235,0,0.000000,0,0.000000,0.000000,1413.394856
18,Belgium,2.343322,17.394609,25.458399,0,0,0.188767,0.002275,2.561546,4.599843,...,0.0,0.304783,0,46.123921,0,5.066256,0,0.595667,1.249533,7859.978296
19,Belize,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,...,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,340.195039

In [65]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Columns: 216 entries, Sending Country to WORLD
dtypes: float64(171), int64(39), object(6)
memory usage: 389.9+ KB

In [66]:
df2.isnull().sum()

Sending Country       0
Afghanistan           0
Albania               0
Algeria               0
American Samoa        0
                     ..
West Bank and Gaza    0
Yemen, Rep.           0
Zambia                0
Zimbabwe              0
WORLD                 0
Length: 216, dtype: int64

In [80]:
#os.getcwd()

In [81]:
#os.listdir()

In [75]:
import csv
import os

# List of input CSV file paths
csv_files = ['Immigration-inflow-outflow Remittances.csv','GDP and remittances.csv', ' bilateral remittance.csv']

# Output CSV file path
output_csv_file = 'combined_datasets.csv'

# Open the output file in write mode
with open(output_csv_file, mode='w', newline='') as outfile:
    writer = csv.writer(outfile)
    
    # Loop through each input file
    for i, file in enumerate(csv_files):
        # Open each input CSV file in read mode
        with open(file, mode='r') as infile:
            reader = csv.reader(infile)
            
            # Optional: Write a separator or a header between datasets
            if i > 0:
                writer.writerow([])  # Add a blank line between datasets
                writer.writerow([f'Dataset {i + 1}'])  # Add a header indicating a new dataset
            
            # Write the contents of the input file to the output file
            for row in reader:
                writer.writerow(row)

print(f"Combined CSV file created: {output_csv_file}")

Combined CSV file created: combined_datasets.csv